<ion-view view-title="Favorites" ng-controller="FavoritesController">
    <ion-content>

        <div class="list" ng-repeat="card in favoriteCards">
            <a ng-if="card.isFav" class="item item-thumbnail-left" href="#" ng-click="showCard(card.index)">
                <img src="http://api.mtgdb.info/content/card_images/{{card.multiverseid}}.jpeg">

                <h2>{{card.name}}
                    <i class="icon ion-star" ng-class="{ 'selected': card.isFav }"
                       ng-click="$event.stopPropagation();toggleFav(card.index)"></i>
                    <i class="icon ion-plus"></i></h2>

                <div style="position:relative;">
                    <span ng-bind-html="card._manaCost"></span>
                    <span class="stats" ng-if="card.power">{{card.power}}/{{card.toughness}}</span>
                </div>
                <p>>{{card.originalText}} </p>

                <div class="row">
                </div>
            </a>
        </div>
    </ion-content>

</ion-view>


