<ion-view view-title="Game">
    <ion-content>
        <div class="row">
            <div class="col col-50">
                <div class="row">
                    <div class="col col-80">
                        <h1>20</h1>
                    </div>
                    <div class="col col-20">
                        <i class="ion-chevron-up"></i>
                        &nbsp;<-&nbsp->&nbsp;
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>

            </div>
            <div class="col">compteur</div>
            <div class="col">compteur</div>
            <div class="col">compteur</div>
        </div>
        <hr/>
        <h2 class="title">TOURS</h2>
        <hr/>
        <div class="row">

            <div class="col col-50">
                <div class="row">
                    <div class="col col-80">
                        <h1>20</h1>
                    </div>
                    <div class="col col-20">
                        <i class="ion-chevron-up"></i>
                        &nbsp;<-&nbsp->&nbsp;
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>

            </div>
            <div class="col">compteur</div>
            <div class="col">compteur</div>
            <div class="col">compteur</div>
        </div>
        </div>
    </ion-content>
</ion-view>
